# Build Directories
backend/target/
frontend/dist/
frontend/node_modules/

# Uploaded Files during testing
uploads/project_*
backend/uploads/

# IDE files
.idea/
*.iml
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log

# Local PostgreSQL portable binaries & cluster data
pgsql/

# Python Virtualenv & Cache
ai-service/venv/
__pycache__/
*.pyc
# Documents and Reports
*.pdf
*.docx

# Environment variables files (Sensitive - Do not commit to GitHub)
.env
.env.local
backend/.env
ai-service/.env

